a {
  text-decoration: none;
}

/* Navbar */
.navbar: {
  padding: 0;
}

.navbar-dark .navbar-brand {
  text-align: right;
}

.img_brand {
  width: 20%;
}

.nav-item {
  padding: 0 29%;
}

.container-fluid{
  padding: 3% 11% 3%;
}

/* Title */
#title {
  background-color: #000;
}

#title .container-fluid {
  padding: 0;
  text-align: center;
}

.title-image {
  width: 50%;
}
.title-imagehv{
  width: 56%;
}
.title-image75{
  width: 68%;
}
.title-column {
  padding: 7% 11% 0;
  margin: 0;
}

.big-heading {
  color: gold;
  line-height: 2.5;
  text-align: center;
}

.smal-heading {
  text-align: center;
  color: grey;
  line-height: 2;
}

/* Features */
.feature-box {
  text-align: center;
  font-family: "Montserrat-bold";
  line-height: 2;
}



/* Baterias */
#baterias {
  background-color: #000;
}

.baterias-image {
  width: 30%;
}

.link-bateria {
  color: #fff;
  text-decoration: none;
}

.link-bateria:hover {
  opacity: 50%;
  color: #fff;
}

.w-100 {
  padding: 0;
}
/* cobertura */
#cobertura .container-fluid{
  padding: 0% 11% 3%;
  text-align: justify;
}
/* footer */
#footer {
  background-color: #000;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

.fa-footer {
  color: #fff;
  padding: 5% 5%;
}

#footer a:hover {
  opacity: 0.5;
  color: #fff;
}

/* footer icons */
.fa-ahuman {
  padding: 1% 1%;
}
.p-footer{
  color: #fff;
}


/* fixed whatsappicon */
.whatsappicon {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 9%;
  right: 7%;
  background-color: ;
  color: #25d366;
  text-align: center;
  font-size: 4rem;
  z-index: 1000;
}

/* Baterias */
.pricing-column {
  text-align: center;
  padding: 2% 3%;
}

.section-heading {
  padding: 0 0 6% 0;
  line-height: 1.5;
}

/* product */
.product-column {
  background-color: #fff;
  padding: 7% 15%;
}

.product-column .title-image {
  padding-bottom: 8%;
  width: 100%;
}

.product-column .big-heading {
  color: #000;
  text-align: left;
}

.product-column .link-bateria {}

  .product-description{
    text-align: left;
    padding-top: 2%;
    margin-top: 2%;
  }

  .product-prop {
    margin-bottom: 2.6%;
    text-align: left;
  }

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .navbar-dark .navbar-brand {
    text-align: center;
  }

  .nav-item {
    padding: 1% 1%;
  }

  .nav-link {
    padding: 0;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .nav-content {
    padding: 0 7%;
    font-size: 2rem;
  }

  .navbar-dark .navbar-brand {
    text-align: left;
  }

  .big-heading {
    color: gold;
    line-height: 1.2;
    text-align: center;
    font-size: 2rem;

  }

  .smal-heading {
    font-size: 1,5rem;
  }

  .feature-title {
    font-size: 2rem;
  }

  .features-paragraf {
    font-size: 1.5rem;
  }

  .title-image {
    width: 40%;
  }

  .img_brand {
    width: 38%;
  }

  .whatsappicon {
    font-size: 5rem;
    position: fixed;
    bottom: 11%;
    right: 14%;
  }

  #cobertura h3 {
    font-size: 3rem;
  }

  #cobertura p {
    font-size: 1.5rem;
  }

  #baterias p {
    font-size: 1.5rem;
  }

  .btn-lg {
    font-size: 3rem;
  }

.product-column{
  padding: 20% 5%;
}

  .product-column .title-image {
    width: 60%;
  }

  .product-prop {
    font-size: 1.5rem;
    text-align: center;
  }

  .product-column .big-heading {

    text-align: center;
  }
  .product-description{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 4%;

  }
  #baterias .container-fluid{
    padding-top: 12%;
    padding-bottom: 10%;
  }
  #cobertura .container-fluid{
    padding-top: 13%;
  }
}
